---
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import { getCollection } from "astro:content";
import CardPost from "@/components/ui/CardPost.astro";
import Layout from "@/layouts/Layout.astro";
import type { Lang } from "@/types/lang";
import { splitLang } from "@/lib/content";
import ContainerPosts from "@/components/ContainerPosts.astro";
import Topic from "@/components/ui/Topic.astro";
import { useTranslations } from "../i18n/utils";

type Props = {
  lang: Lang;
};

const { lang } = Astro.props;
const t = useTranslations(lang);

const posts = (await getCollection("blog"))
  .filter((i) => splitLang(i.slug)[0] === lang)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .splice(0, 9);

const tags = [
  ...new Set(
    posts.filter((post) => post.data.topic).map((post) => post.data.topic),
  ),
];
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION} lang={lang}>
  <main>
    <section>
      <ContainerPosts size="xl">
        {posts.map((post) => <CardPost offDescription post={post} />)}
      </ContainerPosts>
      <h4><a href={`/${lang}/articles/1`}>{t("nav.articles")}</a></h4>
    </section>
    <section class="container-tags">
      <h3>{t("blog.categories")}</h3>
      <div>
        {
          tags.map((tag) => (
            <Topic variant="ghost" href={`/${lang}/category/${tag}/1`}>
              #{tag}
            </Topic>
          ))
        }
      </div>
    </section>
  </main>
</Layout>

<style slot="head">
  main {
    width: 100%;
  }
  h4 {
    margin-block: 3rem;
    & a {
      transition-duration: 0.2s;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .posts {
    --size-item: 500px;
    display: grid;
    margin-inline: auto;
    grid-template-columns: repeat(auto-fit, minmax(var(--size-item), 1fr));
    gap: 1rem;
  }

  .container-tags div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.8rem;
    gap: 0.7rem;
  }
  @media (max-width: 720px) {
    main {
      width: 100%;
    }
    .posts {
      --size-item: 250px;
    }
  }
</style>
