---
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import { getCollection } from "astro:content";
import CardPost from "@/components/ui/CardPost.astro";
import Layout from "@/layouts/Layout.astro";
import type { Lang } from "@/types/lang";
import { splitLang } from "@/lib/content";
type Props = {
  lang: Lang;
};
const { lang } = Astro.props;
const posts = (await getCollection("blog"))
  .filter((i) => splitLang(i.slug)[0] === lang)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .splice(0, 5);

console.log(posts.length);
const tags = [
  ...new Set(
    posts.filter((post) => post.data.topic).map((post) => post.data.topic)
  ),
];
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <section>
      <div class="posts">
        {posts.map((post) => <CardPost post={post} />)}
      </div>
      <h4><a href={`${lang}/articles/1`}>More</a></h4>
    </section>
    <section class="container-tags">
      <h3>Topic</h3>
      <div>
        {
          tags.map((tag) => (
            <span class="tag">
              <a href={`/tags/${tag}/1`}>{tag}</a>
            </span>
          ))
        }
      </div>
    </section>
  </main>
</Layout>

<style slot="head">
  main {
    width: 80%;
  }
  h4 {
    margin-block: 3rem;
    & a {
      transition-duration: 0.2s;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .posts {
    --size: 400px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    .post:first-child {
      width: 100%;
      margin-bottom: 1rem;
      text-align: center;
    }
    .post {
      width: calc(50% - 1rem);
    }
  }

  .container-tags {
    width: 100%;
    margin-block-start: 3rem;
    div {
      gap: 1rem;
      display: flex;
      flex-wrap: wrap;
      margin-top: 1.8rem;
      span {
        transition-duration: 0.2s;

        &:hover {
          scale: 1.1;
        }
      }
      & a {
        border-radius: 2rem;
        padding: 0.8rem 1.2rem;

        border: 3px solid rgb(var(--gray-light));
        text-decoration: none;
        &:hover {
          border-color: var(--accent);
        }
      }
    }
  }

  @media (max-width: 720px) {
    main {
      width: 100%;
    }
    .posts {
      --size: 250px;
    }
  }
</style>
