---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import SEO from "@/components/SEO.astro";
import ButtonUp from "@/components/ui/ButtonUp.astro";
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";
import type { Lang } from "@/types/lang";
interface Props {
  title: string;
  description: string;
  canonical?: string;
  image?: string;
  lang?: Lang;
}
const { title, description, canonical, image, lang = "es" } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <SEO
      description={description}
      title={title}
      image={image}
      canonical={canonical}
    />
    <slot name="head" />
    <ClientRouter />
  </head>
  <body>
    <Header />
    <div>
      <slot />
    </div>
    <ButtonUp />
    <Footer lang={lang} />
  </body>
</html>
<style>
  body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    margin: 1rem;
    width: 80%;
    margin-inline: auto;
  }
  @media (max-width: 500px) {
    body {
      width: 100%;
    }
  }
</style>
