---
import FormattedDate from "@/components/FormattedDate.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  post: CollectionEntry<"blog">;
}
const { post } = Astro.props;
const [lang, rest] = post.slug.split("/");
const url = `/${lang}/article/${rest}/`;
---

<article class="post">
  <header>
    <a href={url}>
      <img
        src={post.data.heroImage}
        transition:name={`${post.id}-img`}
        alt=""
      />
    </a>
  </header>
  <h3 class="title line-clamp" transition:name={`${post.id}-title`}>
    <a href={url}>{post.data.title}</a>
  </h3>

  <p class="date">
    <FormattedDate
      date={post.data.pubDate}
      transition:name={`${post.data.id}-date`}
    />
  </p>
</article>

<style>
  article {
    overflow: hidden;
  }
  img {
    margin-bottom: 0.5rem;
    border-radius: var(--radius);
  }
  a {
    display: block;
    text-decoration: none;
  }
  a * {
    transition: 0.2s ease;
  }

  .title {
    margin: 0;
    line-height: 1;
    &:hover {
      text-decoration: underline;
      text-decoration-color: var(--accent);
    }
  }
  .title.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .date {
    margin: 0;
    color: rgb(var(--gray));
  }
  a:hover h3,
  a:hover .date {
    color: var(--accent);
  }
  a h3:hover {
    text-decoration: underline;
  }
  a:hover .date {
    opacity: 0.7;
  }
  a .date:hover {
    opacity: 1;
  }
  a:hover img {
    box-shadow: var(--box-shadow);
  }
</style>
